$color-black: #333;

$color-text: $color-black;


// List of categorys
$category-list: 'text', 'audio', 'video', 'code';
// List of colors for each category
$category-color-list: #3caee5, #ff783a, #e52d27, #ebdd2c;