extends ../../layouts/default

block content
  .container
    h2 404
    .meta

    p I'm very sorry, but the page you requested doesn't exist D: 
    p Please go back to <a href="http://timpietrusky.com">timpietrusky.com</a> and enjoy the rest of your visit! 