extends ../layouts/default

block content
  .container
    article.article

      .gw
        .g.one-half.tiny-one-whole
          .header
          p My name is Tim Pietrusky, I'm 30 years old and I love the web: My platform of choice for everything. 
          p I'm Co-Founder of <a href="http://synoa.de">Synoa</a> (only in German for now, sorry D:) and love to spend my time working on open source projects, writing articles or just learning new stuff related to the web. 
          p I'm proud to be a part of these two awesome web groups: <a href="http://4ae9b8.com">4ae9b8</a> and <a href="http://bullg.it">bullgit</a>. 


        .g.one-half.tiny-one-whole
          img(src='/images/tim_pietrusky_dotCSS_2014.jpg')


      .gw
        .g.one-third.small-one-half.tiny-one-whole
          h3 Contact
          p Want to get in touch with me? Write an e-mail to <a href="mailto:heyho@timpietrusky.com">heyho@timpietrusky.com</a> or use one of my profiles. 


        .g.one-third.small-one-half.tiny-one-whole
          h3 Profiles
          ul
            li <a href="http://twitter.com/TimPietrusky">Twitter</a>
            li <a href="http://codepen.io/TimPietrusky">CodePen</a>
            li <a href="https://github.com/TimPietrusky">GitHub</a>
            li <a href="http://soundcloud.com/TimPietrusky">SoundCloud</a>
            li <a href="http://stackoverflow.com/users/1012875/TimPietrusky">Stack Overflow</a>


        .g.one-third.small-one-whole.tiny-one-whole
          h3 Source
          p You can find the <a href="https://github.com/TimPietrusky/timpietrusky.com-keystone">source code of this web page on GitHub</a>. 