extends ../layouts/default

block intro

block content
  .container
    - ultracategory = ""
    each cat in data.post.categories
      - ultracategory = cat.key
    article.article
      if !data.post
        h2 Invalid Post.
      else
        header
          h2= data.post.title
          h5.date
            if data.post.publishedDate
              | #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
        .post
          if data.post.image.exists
            .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
          != data.post.content.full



      // Integrate disqus comments
      button(data-js="load-comments" class="load-comments") Load comments

      div.comment.hidden(data-js="comment-block")
        h3 Comments
        div#disqus_thread