extends ../layouts/default

block content
	.container
		- ultracategory = ""
		each cat in data.post.categories
			- ultracategory = cat.key
		article.article(data-category="#{ultracategory}")
			.articlewrapper
				if !data.post
					h2 Invalid Post.
				else
					header
						h2= data.post.title
						h5
							if data.post.publishedDate
								| #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
					.post
						if data.post.image.exists
							.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
						!= data.post.content.full

				// Integrate disqus comments
				h3 Comments

				div#disqus_thread

				if data.post
					// Create a specific disqus URL for older posts
					script.
						var disqus_shortname = 'timpietrusky';