/* line 1, ../../../src/scss/modules/_misc.scss */
.box--center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format("woff");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

/* line 1, ../../../src/scss/modules/_defaults.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../../src/scss/modules/_defaults.scss */
body {
  margin: 0;
}

/* line 1, ../../../src/scss/modules/_lists.scss */
ul {
  list-style-type: square;
}
/* line 4, ../../../src/scss/modules/_lists.scss */
ul.clean {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 1, ../../../src/scss/modules/_typography.scss */
h1 {
  font-size: 5.5em;
  line-height: 1.25em;
  background: #fa9f96;
  color: #fff;
  margin: 0;
  padding: 2rem;
}

/* line 14, ../../../src/scss/modules/_typography.scss */
h2 {
  font-size: 2.5em;
  line-height: 1.15em;
  background: #2ccac1;
  color: #fff;
  margin: 0;
  padding: 2rem;
}
/* line 24, ../../../src/scss/modules/_typography.scss */
h2.alpha {
  font-size: 3.25em;
  margin: 1rem;
  text-align: center;
}

/* line 31, ../../../src/scss/modules/_typography.scss */
a {
  color: #fa9f96;
  text-decoration: none;
  padding: .15em;
  -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}
/* line 38, ../../../src/scss/modules/_typography.scss */
a:hover {
  background: #d8a3bc;
  color: #fff;
}

/* line 44, ../../../src/scss/modules/_typography.scss */
p {
  font-size: 1.5em;
}

/* line 48, ../../../src/scss/modules/_typography.scss */
.align--center {
  text-align: center;
}

/*
 * Backgrounds
 */
/*
 * Red
 */
/* line 8, ../../../src/scss/modules/_box.scss */
h1, .box--red {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8a3bc), color-stop(100%, #fa9f96));
  background: -webkit-linear-gradient(#d8a3bc, #fa9f96);
  background: -moz-linear-gradient(#d8a3bc, #fa9f96);
  background: -o-linear-gradient(#d8a3bc, #fa9f96);
  background: linear-gradient(#d8a3bc, #fa9f96);
}

/*
 * Blue
 */
/* line 23, ../../../src/scss/modules/_box.scss */
h2, .box--blue {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ccac1), color-stop(100%, #94e5ee));
  background: -webkit-linear-gradient(#2ccac1, #94e5ee);
  background: -moz-linear-gradient(#2ccac1, #94e5ee);
  background: -o-linear-gradient(#2ccac1, #94e5ee);
  background: linear-gradient(#2ccac1, #94e5ee);
}

/*
 * Yellow
 */
/* line 38, ../../../src/scss/modules/_box.scss */
.box--yellow {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd1a9), color-stop(100%, #fa9f96));
  background: -webkit-linear-gradient(#ffd1a9, #fa9f96);
  background: -moz-linear-gradient(#ffd1a9, #fa9f96);
  background: -o-linear-gradient(#ffd1a9, #fa9f96);
  background: linear-gradient(#ffd1a9, #fa9f96);
}

/*
 * Greens
 */
/* line 53, ../../../src/scss/modules/_box.scss */
.box--green {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd1a9), color-stop(100%, #7cf471));
  background: -webkit-linear-gradient(#ffd1a9, #7cf471);
  background: -moz-linear-gradient(#ffd1a9, #7cf471);
  background: -o-linear-gradient(#ffd1a9, #7cf471);
  background: linear-gradient(#ffd1a9, #7cf471);
}

/*
 * Positions
 */
/* line 73, ../../../src/scss/modules/_box.scss */
.box--vcenter {
  top: 50% !important;
  margin: -35vh 0 0 0 !important;
}

/*
 * Grid
 */
/* line 86, ../../../src/scss/modules/_box.scss */
.box__one-whole, .box__one-half, .box__one-third, .box__two-thirds {
  padding: 0 2rem 0 0;
  float: left;
}

/* line 91, ../../../src/scss/modules/_box.scss */
.box__one-whole {
  width: 100%;
}

/* line 96, ../../../src/scss/modules/_box.scss */
.box__one-half {
  width: 50%;
}

/* line 101, ../../../src/scss/modules/_box.scss */
.box__one-third {
  width: 33%;
}

/* line 106, ../../../src/scss/modules/_box.scss */
.box__two-thirds {
  width: 66%;
}

/* line 112, ../../../src/scss/modules/_box.scss */
.box__four-fifths {
  max-width: 80%;
  padding: 0 2rem;
}

/* line 1, ../../../src/scss/modules/_app.scss */
body {
  font: 1.2em/1.85em "Ubuntu", sans-serif;
  overflow: auto;
}

/* line 6, ../../../src/scss/modules/_app.scss */
li {
  color: #000;
}
/* line 12, ../../../src/scss/modules/_app.scss */
li.deck-previous, li.deck-before {
  opacity: .3;
}

/* line 17, ../../../src/scss/modules/_app.scss */
.goto-form {
  position: fixed;
  bottom: 0;
  z-index: 1337;
}

/* line 23, ../../../src/scss/modules/_app.scss */
.deck-status {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1337;
}

/* line 30, ../../../src/scss/modules/_app.scss */
iframe {
  height: 300px;
  width: 100%;
}

@media print {
  /* line 2, ../../../src/scss/modules/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../../../src/scss/modules/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 12, ../../../src/scss/modules/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 15, ../../../src/scss/modules/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 20, ../../../src/scss/modules/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 24, ../../../src/scss/modules/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 28, ../../../src/scss/modules/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../src/scss/modules/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 35, ../../../src/scss/modules/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 43, ../../../src/scss/modules/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 48, ../../../src/scss/modules/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* background-color of pre */
/* color of code */
/* padding of pre */
/* line 8, ../../../src/scss/modules/_code.scss */
pre {
  background: #111111;
  padding: 1em;
  overflow: auto;
}
/* line 13, ../../../src/scss/modules/_code.scss */
pre code {
  background: none;
  padding: 0;
  color: white;
  white-space: pre;
  word-spacing: normal;
}

/* line 1, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
body {
  overflow-x: hidden;
}

/* line 5, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .slide {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out;
  -ms-transition: -ms-transform 500ms ease-in-out;
  -o-transition: -o-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

/* line 14, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.55s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.55s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: -o-transform 0.55s ease-in-out, opacity 0.25s ease-in-out;
  transition: transform 0.55s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
/* line 22, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .slide .slide {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}
/* line 34, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .slide .slide.deck-next, .deck-container > .slide .slide.deck-after {
  opacity: 0;
  -webkit-transform: translateY(200%) translateX(200%) rotateZ(45deg);
  -moz-transform: translateY(200%) translateX(200%) rotateZ(45deg);
  -ms-transform: translateY(200%) translateX(200%) rotateZ(45deg);
  -o-transform: translateY(200%) translateX(200%) rotateZ(45deg);
  transform: translateY(200%) translateX(200%) rotateZ(45deg);
}
/* line 39, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .slide .slide.deck-current {
  opacity: 1;
  -webkit-transform: translateY(0%) translateX(0) rotateZ(0deg);
  -moz-transform: translateY(0%) translateX(0) rotateZ(0deg);
  -ms-transform: translateY(0%) translateX(0) rotateZ(0deg);
  -o-transform: translateY(0%) translateX(0) rotateZ(0deg);
  transform: translateY(0%) translateX(0) rotateZ(0deg);
}
/* line 46, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-previous {
  -webkit-transform: translate(-200%) rotate(45deg);
  -moz-transform: translate(-200%) rotate(45deg);
  -ms-transform: translate(-200%) rotate(45deg);
  -o-transform: translate(-200%) rotate(45deg);
  transform: translate(-200%) rotate(45deg);
}
/* line 50, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-before {
  -webkit-transform: translate(-400%) rotate(-45deg);
  -moz-transform: translate(-400%) rotate(-45deg);
  -ms-transform: translate(-400%) rotate(-45deg);
  -o-transform: translate(-400%) rotate(-45deg);
  transform: translate(-400%) rotate(-45deg);
}
/* line 54, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-next {
  -webkit-transform: translate(200%) rotate(-45deg);
  -moz-transform: translate(200%) rotate(-45deg);
  -ms-transform: translate(200%) rotate(-45deg);
  -o-transform: translate(200%) rotate(-45deg);
  transform: translate(200%) rotate(-45deg);
}
/* line 58, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-after {
  -webkit-transform: translate(400%, 1em);
  -moz-transform: translate(400%, 1em);
  -ms-transform: translate(400%, 1em);
  -o-transform: translate(400%, 1em);
  transform: translate(400%, 1em);
}
/* line 63, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-before .slide, .deck-container > .deck-previous .slide {
  visibility: visible;
}
/* line 68, ../../../src/scss/deckjs/transition/_horizontal-slide.scss */
.deck-container > .deck-child-current {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 3, ../../../src/scss/deckjs/_deckjs.scss */
body.deck-container {
  position: static;
}

/* line 7, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 13, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container blockquote, .deck-container q {
  quotes: none;
}
/* line 16, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container blockquote:before, .deck-container blockquote:after, .deck-container q:before, .deck-container q:after {
  content: "";
  content: none;
}
/* line 22, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container ins {
  text-decoration: none;
}
/* line 26, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container mark {
  font-style: italic;
  font-weight: bold;
}
/* line 31, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container del {
  text-decoration: line-through;
}
/* line 35, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container abbr[title], .deck-container dfn[title] {
  cursor: help;
}
/* line 39, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 44, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container hr {
  display: block;
  border: 0;
  margin: 1em 0;
  padding: 0;
}
/* line 51, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container input, .deck-container select {
  vertical-align: middle;
}
/* line 55, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container select, .deck-container input, .deck-container textarea, .deck-container button {
  font: 99% sans-serif;
}
/* line 59, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
  font-family: monospace, sans-serif;
}
/* line 63, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container ul, .deck-container ol {
  margin-left: 2em;
  vertical-align: top;
}
/* line 68, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container ol {
  list-style-type: decimal;
}
/* line 73, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container nav ul, .deck-container nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
/* line 80, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container small {
  font-size: 85%;
}
/* line 84, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container strong, .deck-container th {
  font-weight: bold;
}
/* line 88, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container td {
  vertical-align: top;
}
/* line 92, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container sub, .deck-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
/* line 98, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container sup {
  top: -0.5em;
}
/* line 102, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container sub {
  bottom: -0.25em;
}
/* line 104, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container textarea {
  overflow: auto;
}
/* line 109, ../../../src/scss/deckjs/_deckjs.scss */
.ie6 .deck-container legend, .ie7 .deck-container legend {
  margin-left: -7px;
}
/* line 114, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container input[type="radio"] {
  vertical-align: text-bottom;
}
/* line 118, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container input[type="checkbox"] {
  vertical-align: bottom;
}
/* line 122, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container label, .deck-container input[type="button"], .deck-container input[type="submit"], .deck-container input[type="image"], .deck-container button {
  cursor: pointer;
}
/* line 126, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container button, .deck-container input, .deck-container select, .deck-container textarea {
  margin: 0;
}
/* line 131, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container input:invalid, .deck-container textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
/* line 137, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container input:invalid .no-boxshadow, .deck-container textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}
/* line 143, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container button {
  width: auto;
  overflow: visible;
}
/* line 148, ../../../src/scss/deckjs/_deckjs.scss */
.deck-container.deck-loading {
  display: none;
}

/* line 153, ../../../src/scss/deckjs/_deckjs.scss */
.slide {
  width: auto;
  min-height: 100%;
  position: relative;
}
/* line 158, ../../../src/scss/deckjs/_deckjs.scss */
.slide img, .slide iframe, .slide video {
  display: block;
  max-width: 100%;
}
/* line 163, ../../../src/scss/deckjs/_deckjs.scss */
.slide video, .slide iframe, .slide img {
  display: block;
  margin: 0 auto;
}
/* line 171, ../../../src/scss/deckjs/_deckjs.scss */
.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 177, ../../../src/scss/deckjs/_deckjs.scss */
.slide em {
  font-style: italic;
}

/* line 185, ../../../src/scss/deckjs/_deckjs.scss */
.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em;
}

/* line 191, ../../../src/scss/deckjs/_deckjs.scss */
.deck-current {
  z-index: 2;
}

/* line 195, ../../../src/scss/deckjs/_deckjs.scss */
.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0;
}

/* line 201, ../../../src/scss/deckjs/_deckjs.scss */
.deck-child-current {
  position: static;
  z-index: 2;
}
/* line 205, ../../../src/scss/deckjs/_deckjs.scss */
.deck-child-current .slide {
  visibility: hidden;
}
/* line 209, ../../../src/scss/deckjs/_deckjs.scss */
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
  visibility: visible;
}

@media print {
  /* line 215, ../../../src/scss/deckjs/_deckjs.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    -webkit-box-reflect: none !important;
    -moz-box-reflect: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  /* line 227, ../../../src/scss/deckjs/_deckjs.scss */
  * :before, * :after {
    display: none !important;
  }

  /* line 231, ../../../src/scss/deckjs/_deckjs.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 232, ../../../src/scss/deckjs/_deckjs.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 233, ../../../src/scss/deckjs/_deckjs.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 234, ../../../src/scss/deckjs/_deckjs.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 235, ../../../src/scss/deckjs/_deckjs.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 236, ../../../src/scss/deckjs/_deckjs.scss */
  thead {
    display: table-header-group;
  }

  /* line 237, ../../../src/scss/deckjs/_deckjs.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 239, ../../../src/scss/deckjs/_deckjs.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 240, ../../../src/scss/deckjs/_deckjs.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 242, ../../../src/scss/deckjs/_deckjs.scss */
  .slide {
    position: static !important;
    visibility: visible !important;
    display: block !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
  }

  /* line 254, ../../../src/scss/deckjs/_deckjs.scss */
  h1, .vcenter {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    padding: 0 !important;
    position: static !important;
  }

  /* line 264, ../../../src/scss/deckjs/_deckjs.scss */
  .deck-container > .slide {
    page-break-after: always;
  }

  /* line 268, ../../../src/scss/deckjs/_deckjs.scss */
  .deck-container {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
    display: block !important;
  }

  /* line 275, ../../../src/scss/deckjs/_deckjs.scss */
  script {
    display: none;
  }
}
