/*
 * Backgrounds
 */

/*
 * Red
 */
%box--red {
  @include background(linear-gradient($color-purple, $color-red));
}

.box--red {
  @extend %box--red;
}





/*
 * Blue
 */
%box--blue {
  @include background(linear-gradient($color-blue, $color-cyan));
}

.box--blue {
  @extend %box--blue;
}





/*
 * Yellow
 */
%box--yellow {
  @include background(linear-gradient($color-yellow, $color-red));
}

.box--yellow {
  @extend %box--yellow;
}





/*
 * Greens
 */
%box--green {
  @include background(linear-gradient($color-yellow, $color-green));
}

.box--green {
  @extend %box--green;
}






/*
 * Positions
 */
.box--center {
@extend %center;
}

.box--vcenter {
  // position: absolute;
  top: 50% !important;
  margin: -35vh 0 0 0 !important;
}





/*
 * Grid
 */
%box--default {
  padding: 0 $default-padding 0 0;
  float: left;
}

.box__one-whole {
  @extend %box--default;
  width: 100%;
}

.box__one-half {
  @extend %box--default;
  width: 50%;
}

.box__one-third {
  @extend %box--default;
  width: 33%;
}

.box__two-thirds {
  @extend %box--default;
  width: 66%;
}


.box__four-fifths {
  max-width: 80%;
  padding: 0 $default-padding;
}