.article {
  /* test */
  
  position: relative;
  max-width: 50em;
  overflow-x: hidden;
  color: $color-black-dark;

  // Comments
  .comment {
    margin-top: 3.5em;
  }

  a {
    padding-bottom: .085em;
    color: #0000ee;
    border-bottom-color: rgba(#0000ee, .85);

    &:hover {
      color: reverse-lightness(darken(#0000ee, 25%));
      border-bottom-color: reverse-lightness(darken(#0000ee, 25%));
    }
  }

  h2 {
    font-size: 2.95em;
  }

  // Comments & others
  h3 {
    margin-top: 1em;
    padding: .5em 0 0 0;
    border-top: $border-top;
  }

  // Date
  .date {
    margin: .5em 0 2.5em 0;
    color: rgba($color-black, .25);
  }


  blockquote {
    padding: 1em;
    margin: 0 0 0 0;
    color: darken($color-black, 25%);
    background: reverse-lightness(darken($color-black, 25%));
  }
}


#disqus_thread {
  min-height: 250px;
}
