@for $i from 1 through length($category-list) {
  $name: nth($category-list, $i);
  $color: nth($category-color-list, $i);

  .element {

    &[data-category*='#{$name}'] {

      &:after {
        background: rgba(darken($color, 5%), 1);
      }
    }

  } // .element



  .main-navigation {

    a {
      &[data-category='#{$name}'] {
        color: $color;

        &[data-css='active'] {
          color: $body-background;
          background: $color;
        }
      }
    }

  } // .main-navigation

}