.element {
  position: relative;
  height: 15em;
  padding: .75em;
  margin: 0 0 1em 0;
  background: #fff;
  overflow: hidden;
  border-bottom: 2px solid $color-grey-light;

  @include animation(flash $animation-flash 1 ease-in-out forwards);
  @include transition(
    background $animation-flash ease-out, 
    color .25s ease-out
  );

  @include breakpoint(tiny) {
    height: 6em;

    h2 {
      font-size: 1.15em;
    }
  }

  @include breakpoint(small) {
    height: 10em;

    h2 {
      font-size: 1.15em;
    }
  }

  a {
    border-bottom: none;
  }

  h2,
  .meta {
    @include transition(
      color .25s ease-out
    );
  }


  .meta {
    position: absolute;
    bottom: .5em;
    font-size: .85em;
    opacity: .75;
  }
}





[data-js='element'] {
  opacity: 1;
  visibility: visible;

  @include transition(
    visibility .35s * $element-transition ease-in-out,
    opacity .35s * $element-transition ease-in-out,
    width .15s * $element-transition ease-in-out,
    margin .25s * $element-transition ease-in-out,
    transform .35s * $element-transition ease-in-out,
    filter .35s * $element-transition ease-in-out
  );



  a {
    &:active,
    .active {
      .element {
        @include animation(flash-reverse $animation-flash-reverse 1 ease-in-out forwards);
      }
    }
  }



  // Hide the element
  &[data-css='hide'] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
    padding: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);

    @include transform(scale(.15, .15) translate(15%, 15%));

    @include breakpoint(tiny) {
      filter: none; 
      -webkit-filter: none;

      @include transform(scale(.15, .15));
    }
  }
}