.element {
  position: relative;
  height: 8em;
  padding: .75em .75em .75em .75em;
  margin: 0 0 1em 0;
  background: #fff;
  border-bottom: 1px solid $color-grey-light;


  
  /**
   * Holds the categories information for every element
   */
  &:after {
    z-index: -1;
    position: absolute;
    top: -3%;
    height: 3%;
    width: .5em * 4;
    content: '';
  }


  h2 {
    font-weight: 100;
    line-height: 1.25em;
    transition: color .35s ease-out;
  }


  &:hover {
    background: rgba(33, 33, 33, .95);

    h2,
    a,
    .meta {
      color: #fff;
    }
  } 





  /**
   * Category colors
   */
  @include categories('text' 'code');
  @include categories('text' 'code' 'video');
  @include categories('text' 'code' 'video' 'audio');
  @include categories('text' 'video');
  @include categories('text' 'video' 'audio');
  @include categories('text' 'audio');


  @include categories('code' 'video');
  @include categories('code' 'video' 'audio');
  @include categories('code' 'audio');

  @include categories('video' 'audio');


  @include breakpoint(tiny) {
    height: 6em;

    h2 {
      font-size: 1.15em;
    }
  }

  @include breakpoint(small) {
    height: 8em;

    h2 {
      font-size: 1.15em;
    }
  }

  a {
    border-bottom: none;
  }

}



// The wrapper element for "element"
[data-js='element'] {
  transform: scale(1, 1);

  // Hide the element
  &[data-css='hide'] {
    z-index: -1337;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transform: scale(0, 0);
  }
}