.element {
  position: relative;
  height: 15em;
  padding: .75em;
  margin: 0 0 1em 0;
  background: #fff;
  overflow: hidden;
  @include animation(flash .45s 1 ease-in-out forwards);
  @include transition(
    background .25s ease-in-out, 
    color .25s ease-in-out
  );

  @include breakpoint(tiny) {
    height: 10em;
  }

  @include breakpoint(small) {
    height: 10em;

    h2 {
      font-size: 1.15em;
    }
  }


  a {
    border-bottom: none;
  }


  .meta {
    position: absolute;
    bottom: .5em;
    font-size: .85em;
    opacity: .75;
  }
}

[data-js='element'] {
  opacity: 1;
  visibility: visible;

  @include transition(
    visibility .25s ease-in-out,
    opacity .35s ease-in-out,
    width .35s ease-in-out,
    margin .25s ease-in-out,
    transform .35s ease-in-out,
    filter .35s ease-in-out
  );

  &[data-css='hide'] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
    padding: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);

    @include transform(scale(.15, .15) translate(15%, 15%));
  }
}