header {
  &[data-role="navigation"] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1338;
    width: 100%;
    padding: .35em 0;
    background: #fff;
    overflow: hidden;

    @include transform(translate3d(0, 0, 0));

    @include breakpoint(tiny) {
      padding: .15em 0;
    }

    a {
      border-bottom: none;
    }
  }
}