iframe {
  width: 100%;

  &.youtube {
    height: 600px;
  }

  &.soundcloud {
    height: 650px;
  }

  // Page
  &[data-type="alpha"] {
    height: 550px;
  }

  @include breakpoint(tiny) {
    height: 15em !important;
  }
}