iframe {
  width: 100%;
  
  &.loading {
    background: #ccc;
  }

  &.youtube {
    @extend .loading;

    height: 600px;
  }

  &.soundcloud {
    @extend .loading;

    height: 650px;
  }

  // Page
  &[data-type="alpha"] {
    height: 550px;
  }

  @include breakpoint(tiny) {
    height: 15em !important;
  }
}