.main-navigation {
  ul {
    line-height: 1.45em;
    word-wrap: break-word;

    padding: 0;
    margin: 0;

    > li {
      float: left;
      list-style-type: none;
      margin: 0 .25em;

      @include breakpoint(tiny) {
        width: 25%;
        text-align: center;
        margin: 0;
      }

      &:first-child {
        margin-left: 0;

        @include breakpoint(tiny) {
          width: 100%;
          padding-bottom: .25em;
        }
      }
      
      a {
        padding: .5em;

        @include breakpoint(tiny) {
          padding: .35em;
        }
      }

      h1 {
        a {
          padding: 0;
        }
      }
    }
  }
}


    a {
      &[data-category='about'] {

        &[data-css='active'] {
          color: reverse-lightness($color-text);
          background: $color-text; 
        }
      }
    }