body {
	overflow-x:hidden;
}

.deck-container > .slide {
	-webkit-transition:-webkit-transform 500ms ease-in-out;
	-moz-transition:-moz-transform 500ms ease-in-out;
	-ms-transition:-ms-transform 500ms ease-in-out;
	-o-transition:-o-transform 500ms ease-in-out;
	transition:transform 500ms ease-in-out;
}

.deck-container {
	> .slide {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		@include transition(transform .55s $default-transition-function, opacity $default-transition);
		@include transform-origin(0%, 100%);
		
		.slide {
			position: relative;
			left: 0;
			top: 0;

			@include transition(
				transform $default-transition, 
				opacity $default-transition,
				color $default-transition
			);

			&.deck-next, 
			&.deck-after {
			  opacity: 0;
			  @include transform(translateY(200%) translateX(200%) rotateZ(45deg));
			}

			&.deck-current {
			  opacity: 1;
			  @include transform(translateY(0%) translateX(0) rotateZ(0deg));
			}
		}
	}

	> .deck-previous {
		@include transform(translate(-200%) rotate(45deg));
	}

	> .deck-before {
		@include transform(translate(-400%) rotate(-45deg));
	}

	> .deck-next {
		@include transform(translate(200%) rotate(-45deg));
	}

	> .deck-after {
		@include translate(400%);
	}
	
	> .deck-before, > .deck-previous {
		.slide {
			visibility:visible;
		}
	}

	> .deck-child-current {
		@include transform(none);
	}
}